@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<hr>
<h2>University Website</h2>
<p>
    This project was Devloped for Cognizant Internship .
</p>
<p>
    By using Following Technologies:
    <ul>

        <li>C#</li>
        <li>MVC5</li>
        <li>ASP.Net  Framework</li>
        <li>Entity  Framework</li>
        <li>Visual Studio 19</li>
        <li>SQL Server 19</li>

    </ul>
</p>
<hr>
<h2>Project Team Members:</h2>
<div class="row">
    <div class="col-md-4">
        <h3>Kavya Srivastava</h3>
        <p>
            Programmer Analyst Trainee
        </p>

    </div>
    <div class="col-md-4">
        <h3>Nilesh Lahade</h3>
        <p>
            Programmer Analyst Trainee
        </p>
    </div>
    <div class="col-md-4">
        <h3>Poonam Lega</h3>
        <p>
            Programmer Analyst Trainee
        </p>
    </div>
    <div class="col-md-4">
        <h3>Baluram Suthar</h3>
        <p>
            Programmer Analyst Trainee
        </p>
    </div>
    <div class="col-md-4">
        <h3>Kundan Kashyap</h3>
        <p>
            Programmer Analyst Trainee
        </p>
    </div>

</div>
<hr>
<h2>Project Trainer</h2>
<div class="row">
    <div class="col-md-4">
        <h3>
            Mangayarkarasi   Subramanian
        </h3>
        <p>
            Cognizant
        </p>

    </div>
    
</div>

