@{
    ViewBag.Title = "Home Page";
}
<br>
<br>
<div class="jumbotron">
    <h1>UNIVERSITY WEBSITE</h1>
    <p class="lead">This is a University website developed using ASP.NET  for Cognizant Intership-2021</p>
    <p><a href="@Url.Action("Login","Users")" class="btn btn-primary btn-lg">User &raquo;</a> &emsp; 
        <a href="@Url.Action("Login","Admins")" class="btn btn-primary btn-lg">Admin &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> ABC University</h2>
        <p>
            ABC University is a renowned university in a celebrated city where knowledge meets achievement,
        </p>history meets the future and ambition meets inspiration. Whether you want to broaden your employment options, <p>
    advance in your chosen career or prepare for further study, a ABC degree will challenge, inspire and open doors for you.
</p>
        
    </div>
    <div class="col-md-4">
        <h2> GET IN TOUCH</h2>
        <p>

            PMC Road,
            Village VPD, CFG City,
            SDG state-248044, India
        </p><p>
            1800 1210 56423
            admissions@abcuniversity.edu.in
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>  Imagine | Aspire | Achieve</h2>
        <p>
           
            Students explore statistical theories and tools through hands-on sessions with lab components to set them up for lucrative careers in different fields.
        </p>
        <p></p>
    </div>
</div>